@import './vars/context.scss';

main {
  position: relative;
  top: 60px;
  width: 90vw;
  margin: 0 auto;
}

@include size-m {
  main {
    max-width: 1000px;
  }
}

// @media (prefers-color-scheme: light) {
//   // lightscheme
// }
