* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #17181d;
  overflow-x: hidden;
  color: rgb(245, 245, 245);
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
}

body::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-image: url('/assets/clouds.png');
  display: block;
  width: 900px;
  height: 704px;
  left: -1em;
  top: 5em;
}

body::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-image: url('/assets/clouds.png');
  display: block;
  width: 900px;
  height: 704px;
  right: 0;
  bottom: 25%;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
